<%- include('partials/header'); -%>

<div class="content">
  <p><a href="/">Home</a> / <a href="/shop">Shop</a> / <%=category.name%></p>
  <h2 class="shop-heading"><%=category.name%></h2>

  <div class="product-row">
    <% category.products.forEach(function(product){ %>
      <div class="product-card">
        <a href="#">
          <div class="product-overview">
            <img class="product-overview-image" src="<%=product.thumbnail%>" alt="">
            <div class="product-overview-options">
              <div class="product-actions">
                <a href="#"><button type="button"><i class="fas fa-shopping-cart"></i>Buy Now</button></a>
                <a href="#"><button type="button"><i class="far fa-eye"></i>Preview</button></a>
              </div>
            </div>
          </div>
        </a>
        <div class="product-details">
          <h3 class="product-details-name"><%=product.productName%></h3>
          <p class="product-details-price">Rs. <%=product.price%></p>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<%- include('partials/footer'); -%>
