<%- include('partials/header'); -%>

<div class="content">

  <div class="breadcrumbs">
    <a href="/">Home</a>
    <span class="breadcrumbs-separator">/</span>
    <a href="/shop">Shop</a>
    <span class="breadcrumbs-separator">/</span>
    <span class="breadcrumbs-separator"><%=category.name%></span>
  </div>

  <div class="category-details">
    <h2 class="category-heading"><%=category.name%></h2>
    <p class="category-description"><%=category.description%></p>
  </div>

  <div class="shop-container">
    
    <div class="product-row">
      <% category.products.forEach(function(product){ %>
        <div class="product-card">
          <!-- <a href="/shop/"> -->
            <div class="product-overview">
              <img class="product-overview-image" src="<%=product.thumbnail%>" alt="">
              <div class="product-overview-options">
                <div class="product-actions">
                  <a href="#"><button type="button"><i class="fas fa-shopping-cart"></i>Buy Now</button></a>
                  <a href="/shop/<%=category.name%>/products/<%=product.productName%>"><button type="button"><i class="far fa-eye"></i>Preview</button></a>
                </div>
              </div>
            </div>
          <!-- </a> -->
          <div class="product-details">
            <h3 class="product-details-name"><%=product.productName%></h3>
            <p class="product-details-price">Rs. <%=product.price%></p>
          </div>
        </div>
      <% }) %>
    </div>

  </div>

</div>

<%- include('partials/footer'); -%>
