<%- include('partials/header'); -%>

<div class="content">
  <!-- Carousel -->
  <div class="carousel">
    <div class="slider">
      <div class="slide current">
        <div class="slide-layer">
          <div class="content">
            <h1>Authentic Rajasthani Spices</h1>
            <p>All Natural</p>
            <!-- <button class="slider-content-button"><span>Vist Store </span></button> -->
          </div>
        </div>
      </div>


      <div class="slide">
        <div class="slide-layer">
          <div class="content">
            <h1>Reasonable Prices</h1>
            <p>We care about our customers.</p>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="slide-layer">
          <div class="content">
            <h1>Available Online</h1>
            <p>Vist our shop now.</p>
          </div>
        </div>
      </div>

      <!-- <div class="slide">
        <div class="slide-layer">
          <div class="content">
            <h1>Slide Four</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt accusantium illo repudiandae fuga, assumenda fugit.</p>
          </div>
        </div>
      </div> -->

      <div class="buttons">
        <button id="prev">
          <i class="fas fa-arrow-left"></i>
        </button>
        <button id="next">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>


  <hr>

  <!-- Covid Guidelines -->
  <div class="covid-guidelines">
    <p>Due to COVID, we are only operating on Flipkart and Amazon. Our online shop is always open and the products we offer continue to rotate, depending on what is available to our suppliers!</p>
  </div>


  <hr>


  <!-- Featured Products -->
  <div class="featured">
    <div class="featured-heading">
      <h2>Our Best Sellers</h2>
    </div>
    <div class="products">

      <!-- <div class="product-row">
        <div class="product-card">
          <div class="product-overview">
            <img class="product-overview-image" src="images/test-prod.jpg" alt="">
            <div class="product-overview-options">
              <div class="product-actions">
                <a href="#"><button type="button"><i class="fas fa-shopping-cart"></i>Buy Now</button></a>
                <a href="#"><button type="button"><i class="far fa-eye"></i>Preview</button></a>
              </div>
            </div>
          </div>
          <div class="product-details">
            <h3 class="product-details-name">Garam Masala</h3>
            <p class="product-details-price">&#x20B9;349</p>
          </div>
        </div>
      </div> -->
      <div class="product-row">
        
        <% featuredProducts.products.forEach(function(product){ %>
          <div class="product-card">
            <a href="#">
              <div class="product-overview">
                <img class="product-overview-image" src="<%=product.thumbnail%>" alt="">
                <div class="product-overview-options">
                  <div class="product-actions">
                    <a href="#"><button type="button"><i class="fas fa-shopping-cart"></i>Buy Now</button></a>
                    <a href="/shop/<%=featuredProducts.name%>/products/<%=product.productName%>"><button type="button"><i class="far fa-eye"></i>Preview</button></a>
                  </div>
                </div>
              </div>
            </a>
            <div class="product-details">
              <h3 class="product-details-name"><%=product.productName%></h3>
              <p class="product-details-price">Rs. <%=product.price%></p>
            </div>
          </div>
        <% }) %>

        <div class="product-card">
          <div class="product-overview">
            <img class="product-overview-image" src="images/test-prod.jpg" alt="">
            <div class="product-overview-options">
              <div class="product-actions">
                <a href="#"><button type="button"><i class="fas fa-shopping-cart"></i>Buy Now</button></a>
                <a href="#"><button type="button"><i class="far fa-eye"></i>Preview</button></a>
              </div>
            </div>
          </div>
          <div class="product-details">
            <h3 class="product-details-name">Garam Masala</h3>
            <p class="product-details-price">&#x20B9;349</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <hr>


  <!-- Key Features -->
  <div class="features">
    <div class="feature-layer">

      <div class="feature">
        <i class="fas fa-mortar-pestle fa-7x"></i>
        <h3 class="feature-title">Authentically Indian.</h3>
        <!-- <p>So easy to use, even your dog could do it.</p> -->
      </div>

      <div class="feature">
        <i class="fas fa-seedling fa-7x"></i>
        <h3 class="feature-title">100% Natural.</h3>
        <!-- <p class="">We have all the dogs, the greatest dogs.</p> -->
      </div>

      <div class="feature">
        <i class="icon fas fa-heart fa-7x"></i>
        <h3 class="feature-title">Vegetarian Friendly.</h3>
        <!-- <p>Find the love of your dog's life or your money back.</p> -->
      </div>

    </div>
  </div>


  <hr />


  <!-- Call to Action -->
  <div class="call-to-action">
    <h2>Join The Family</h2>
    <p>Follow us to receive updates about our future products!</p>
    <div class="social-icons">
      <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
    </div>
  </div>

</div>


<%- include('partials/footer'); -%>
